*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ebf2ff !important;   /*if something is of high importance and it must be applied in the website , use !important*/
}

.add__new__btn__mobile__only{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px 12px;
    background-color: white;
    width: 100%;
    z-index: 3;
}

@media (min-width: 768px) {
    .add__new__btn__mobile__only{
        display: none;      /* display: none; means that the button would be hidden on bigger screen size*/
    }
}